<div class="trial-signup-wrapper ui five column stackable grid container centered">
  <section class="trial-signup-header row">
    <div class="column">
      <h2>Sign up for your free trial</h2>
    </div>
  </section>

  <section class="trial-signup-form row">

    <div class="column">
      <%= form_tag '/users', class: 'ui form error', method: 'post' do%>

        <!-- display form errors -->
        <% if @user.errors.any? %>
          <div class="ui error message">
            <div class="header">Form Errors</div>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </div>
        <% end %>

        <div class="fields">
          <div class="field">
            <label>First name</label>
            <input type="text" name="first_name" placeholder="First Name">
          </div>
          <div class="field">
            <label>Last name</label>
            <input type="text" name="last_name" placeholder="Last Name">
          </div>
        </div>
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="field">
          <label>Team Name</label>
          <input type="text" name="team_name" placeholder="Enter Your Team's Name">
        </div>
        <div class="fields">
          <div class="field">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Email Address">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>

        <input type="hidden" name="subscription" value="trial">
        <button class="ui button green" type="submit">Join</button>

      <% end %>
    </div>
  </section>

</div>
