<div class="practice-confirmation">

  <section class="practice-confirmation-upload">
    <h1>Practice Session Footage Upload Confirmation</h1>
    <p>Thank you for uploading your practice session footage to ProScout! Our team will be breaking down your session and providing you with a detailed notes and advice to help you take your game to the next level.</p>
  </section>

  <section class="practice-confirmation-next">
    <h2>What happens next?</h2>
    <p>Our review team will take between 3 to 5 business days to complete a review, but will endeavor to complete it as soon as possible. Make sure to check in to see your completed review for you to see.</p>
  </section>

  <a class="ui button green" type="submit" href="/dashboard/<%= current_user.username %>">Return to Dashboard</a>

</div>
