<div>

  <section>
    <h2>Practice Session Review Confirmation</h2>
    <p>Great job this review has been completed!</p>
  </section>

  <a class="ui button green" type="submit" href="/admin">Return to Admin</a>

</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
