<div class="practice-upload-form">

  <section class="practice-upload-form-header">
    <h2>Practice Session Upload Form</h2>
  </section>

  <section class="practice-upload-form-new">
    <%= form_tag '/practice_sessions', class: 'ui form error', method: 'post' do%>

      <!-- display form errors -->
      <% if @practice.errors.any? %>
        <div class="ui error message">
          <div class="header">Form Errors</div>
            <% @practice.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </div>
      <% end %>

      <div class="field">
        <label>Title</label>
        <input type="text" name="practice_title" placeholder="Enter a video title">
      </div>

      <div class="field date-game">
        <label>Date of Session</label>
        <input type="date" name="practice_date" placeholder="Enter the game date">
      </div>

      <div class="field">
        <label>Youtube Video Upload</label>
        <input type="text" name="video_url" placeholder="Enter youtube video link">
      </div>

      <!-- Checking if demo and hiding review submission button -->
      <% if current_user.subscription != 'demo' %>
        <button class="ui button green" type="submit">Submit</button>
      <% elsif current_user.subscription == 'demo'%>
        <p>Here you can submit your practice sessions for review by a real coach. Have your game analyzed and broken down, then stored in your own profile.</p>
        <a href="/trial-signup" class="ui button green">Sign Up For Free</a>
      <% elsif current_user.video_reviews == 0 %>
        <p>You have currently used all your free monthly reviews. We really hope you've enjoyed the service!</p>
        <br>
        <p>If you have some feedback for us about your experience and what we can do better, send an email to paul@proscoutapp.com. Look forward to hearing from you.</p>
      <% else %>
        <button class="ui button green" type="submit">Submit</button>
      <% end %>

    <% end %>
  </section>
</div>

<!--
Will allow users to upload video directly, but at the
current time the loading times and cost to store long
videos would be too high

<div class="field">
  <label>Video Upload</label>
  <input id="practice_file_upload" type="file" name="video_file" placeholder="Browse">
</div>

<h3>OR</h3> -->

<div>
  <%= @errors %>
</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
