<div class="eight wide column">
  <h2>Coaching reviews and overall player tendencies will go here</h2>

  <section>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Date Uploaded</th>
          <th></th>
        </tr>
        <tbody>
          <% if @previous_practices.empty? %>
            <tr>
              <p>Submit your first practice for review</p>
            </tr>
          <% else %>
            <% @previous_practices.each do |psession| %>
              <% user = User.find_by(id: psession.user_id) %>
              <tr>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.username %></td>
                <td><%= psession.created_at %></td>
                <td><a href="#" type="button" class="ui button green">Review</a></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>
</div>
