
<!-- Card used when users have yet to have game footage uploaded -->
<div class="card">
  <div class="content">
    <div class="header">Get Started</div>
    <div class="description">
      It's easy to get started. Submit game and practice footage to see your stats and get real feedback on your game.
    </div>
  </div>
  <div class="ui bottom attached green button">
    <i class="add icon"></i>
    <a href="/games/new">Upload Game Footage</a>
  </div>
</div>
