<div class="login-wrapper ui five column stackable grid container centered">
  <section class="login-header row">
    <div class="column">
      <h2>Login</h2>
    </div>
  </section>

  <section class="login-form row">
    <div class="column">
      <%= render partial: 'partials/forms/login_form', cached: false %>
    </div>
  </section>
</div>
