
<div class="three wide column">
  <div class="ui vertical pointing menu">
    <a class="item" href="/dashboard">Dashboard <i class="dashboard icon"></i></a>
    <a class="item" href="/games">Games Reviewed <i class="trophy icon"></i></a>
    <a class="item" href="/stats">Stats <i class="pie chart icon"></i></a>
    <a class="item" href="/tendencies">Tendencies <i class="bar chart icon"></i></a>
    <%= form_tag("/logout", method: "delete") do %>
      <button class="ui button blue">Sign Out</button>
    <% end %>
  </div>
</div>
