

<div class="cancel-account">

  <div class="cancel-account-main">

    <!-- User details info block -->
    <h2 class="ui header">We'd hate to see you go!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint fugiat placeat eaque, facere tempore blanditiis, ut quidem veniam officiis voluptates adipisci aliquid nemo impedit! Esse provident distinctio recusandae corporis.</p>


    <button id="delete-btn" class="ui button red">Delete</button>

    <!-- Popup delete your account modal -->
    <%= render 'partials/modals/delete_account_modal' %>

  </div>

</div>
