

<div class="ui grid">

  <div class="eleven wide column">

    <!-- User details info block -->
    <div>
      <h2 class="ui header">We'd hate to see you go!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint fugiat placeat eaque, facere tempore blanditiis, ut quidem veniam officiis voluptates adipisci aliquid nemo impedit! Esse provident distinctio recusandae corporis.</p>
    </div>

    <button id="delete-btn" class="ui button red">Delete</button>

    <!-- Popup delete your account modal -->
    <%= render 'partials/modals/delete_account_modal' %>

  </div>

  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <a class="item" href="/users/<%= current_user.username %>">Profile Info</a>
    </div>
  </div>


</div>
<!--
<script>
// Popup modal for deleting account
// $(document).ready(function() {
//
//   // check if the form exists
//   if (document.location.pathname.endsWith("/cancel-account")) {
//
//     var deleteBtn = document.getElementById('delete-btn');
//     deleteBtn.addEventListener('click', function(event) {
//       $('.tiny.modal').modal('show');
//     });
//
//   };
//
// });
// </script> -->
