

<div class="cancel-account">

  <div class="cancel-account-main">

    <!-- User details info block -->
    <h2 class="ui header">We'd hate to see you go!</h2>
    <p>Of course we would hate to see you go, but we understand!
      <br></br>
      We work really hard to offer a solution for people that are looking for help in their player development, but can't afford private coaching.
      <br></br>
      We have a lot of ideas for how we can improve the platforma ourselves, including a training portal that will offer workouts, drills and plays offered to you by us and the ProScout community. But if you have ideas that
      you would have liked to see or you just want to tell us what we did wrong, please let us know by <span class="feedback">LEAVING YOUR FEEDBACK</span>.
    </p>

    <!-- Checking if demo and hiding review submission button -->
    <% if current_user.subscription != 'demo' %>
      <<button id="delete-btn" class="ui button red">Delete</button>
    <% else %>
      <a href="/trial-signup" class="ui button green">Sign Up For Free</a>
    <% end %>

    <!-- Popup delete your account modal -->
    <%= render 'partials/modals/delete_account_modal' %>

    <!-- Popup leave your feedback modal -->
    <%= render 'partials/modals/feedback_modal' %>

  </div>

</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
