<div>

  <section>
    <h2>Confirmation</h2>
    <p>We've securely taken a payment of $40 from your card ending 7474. You will receive a confirmation email soon.</p>

    <p>We're excited to have you on board.</p>
  </section>

  <section>
    <h3>Order Details</h3>
    <p>Monthly Subscription: $40</p>
  </section>

  <a class="ui button green" type="submit" href="/dashboard">Visit your Dashboard</a>

</div>
