<div class="confirm-trial-wrapper">

  <section class="confirm-trial-content">
    <h2>Welcome to the Team!</h2>
    <p>Thanks you for giving us a try. Your trial period has begun.</p>

    <p>You will receive 2 reviews of either practice or game footage.</p>

    <a class="ui button green" type="submit" href="/dashboard/<%= current_user.username %>">Visit your Dashboard</a>
  </section>

</div>
