
<div class="home-wrapper">
  <header>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <section class="home-hero-landing ui middle aligned tweleve column centered grid">
    <div class="row">
      <div class="home-hero-landing eight wide column">
        <h1>Track Your Player Development</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aut assumenda unde dignissimos molestiae et doloribus excepturi odit quam molestias ad, laborum, minima dolorum quidem neque ullam voluptate optio adipisci.</p>
      </div>

      <div class="home-top-bottom four wide column">
        <img src="https://payhub.com/images/payhub_developer_laptop_with_code.png" alt="">
      </div>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-left">
      <div class="js-logo">
        <div class="js-heading">
          <h5>JAVASCRIPT</h5>
        </div>
        <img src="#" alt="">
      </div>
      <div class="ruby-logo">
        <div class="ruby-heading">
          <h5>RUBY</h5>
        </div>
        <img src="#" alt="">
      </div>
      <div class="other-logo">
        <div class="other-heading">
          <h5>OTHER</h5>
        </div>
        <img src="#" alt="">
      </div>
    </div>

    <div class="home-middle-right">
      <h2>Typing Practice</h2>
      <p>Practice typing code in Javascript, Ruby and other languages. Guests can start practicing straight away by going to the Play link. Guests' scores are not recorded to the leaderboard.</p>

      <h2>Leaderboard</h2>
      <p>Sign up to record your performance and compare your score with others for the same code snippet and overall leaderboard for the language. Users can edit their profiles.</p>

      <h2>Add Code Snippets</h2>
      <p>Users can add their own code snippets and anyone can practice typing their code snippets. Users who created their code snippets can edit and delete them.</p>
    </div>

  </section>

  <footer>
    <h2>Join the Team</h2>
    <a href="users/new">Sign Up</a>
  </footer>

</div>
