
<div class="home-wrapper">
  <header>
    <!-- Following Menu -->
    <div class="home-header-navbar">
      <nav>
        <div class="header-navbar-left">
          <a class="logo" id="logo">ProScout</a>
        </div>
        <div class="header-navbar-right">
          <ul>
            <li><a href="/login" class="ui grey button">Log In</a></li>
            <li><a href="/trial-signup" class="ui green button">Get Started</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="home-hero-landing ui three column stackable grid container centered">
    <div class="row home-hero-main column">
      <div class="home-hero-slogan column">
        <h1>Your Personal Scouting Profile.</h1>
        <p>The simple and easy to use platform that helps you take your game to the next level. Gain the insights you need to get better, we review and break down your game and practice footage so you can see your results. With comprehensive analysis and statistics you will understand what it takes to improve.</p>
      </div>

      <div class="one wide column"></div>

      <div class="home-hero-image column">
        <img src="<%= asset_path("dashboard-image.png") %>" alt="">
      </div>
    </div>
    <div class="row home-hero-cta">
      <div class="home-hero-cta column">
        <a href="/trial-signup" class="ui fluid green button">Get Started For Free</a>
      </div>
    </div>
  </div>

  <div class="home-main-feature ui three column doubling stackable grid container centered">
    <div class="row home-main-feature-breakdown">
      <div class="home-main-feature-image six wide column">
        <img src="<%= asset_path("feature-image.png") %>" alt="">
      </div>

      <div class="one wide column"></div>

      <div class="home-main-feature-list six wide column ui list">
        <h2>Send Us Your Game and Practice Footage. We'll Break It Down For You.</h2>
        <ul>
          <li>We review your game footage and provide comprehensive game notes and feedback</li>
          <li>Receive box scores and advanced statistics, including Points, Rebounds, Assists, Percentages and Defensive Statistics</li>
          <li>Use statistic visuals and charts to see your numbers grow</li>
          <li>An affordable alternative to private coaching completely tailored to you</li>
        </ul>
        <div class="row home-hero-cta">
          <div class="home-hero-cta column">
            <a href="/trial-signup" class="ui fluid green button">Try us for free!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-menu">
      <nav>
        <div class="footer-menu-left">
          <p><a class="logo">ProScout &trade;</a></p>
        </div>
        <div class="footer-menu-right">
          <ul>
            <li><span class="footer-menu-right-link feedback">Leave Feedback</span></li>
            <li><a href=""><i class="twitter icon"></i></a></li>
            <li><a href=""><i class="youtube play icon"></i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Popup feedback modal -->
    <%= render 'partials/modals/feedback_modal' %>
  </footer>
</div>
