
<div class="home-wrapper">
  <header>
    <!-- Following Menu -->
    <div class="home-header-navbar">
      <nav>
        <div class="header-navbar-left">
          <span>[LOGO HERE]</span>
        </div>
        <div class="header-navbar-right">
          <ul>
            <li><a href="/login" class="ui grey button">Log In</a></li>
            <li><a href="/trial-signup" class="ui green button">Get Started</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="home-hero-landing ui middle aligned fourteen column centered grid">
    <div class="row home-hero-main">
      <div class="home-hero-slogan seven wide column">
        <h1>Track Your Player Development</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aut assumenda unde dignissimos molestiae et doloribus excepturi odit quam molestias ad, laborum, minima dolorum quidem neque ullam voluptate optio adipisci.</p>
      </div>

      <div class="home-hero-image six wide column">
        <img src="/assets/dashboard-image.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="home-hero-cta five wide column">
        <a href="/trial-signup" class="ui fluid green button">Get Started For Free</a>
      </div>
    </div>
  </div>

  <div class="home-main-feature ui middle aligned sixteen column centered padded equal grid">
    <div class="row home-main-feature-breakdown">
      <div class="home-main-feature-image seven wide column">
        <img src="/assets/feature-image.png" alt="">
      </div>

      <div class="one wide column"></div>

      <div class="home-main-feature-list six wide column ui list">
        <h2>Send Us Your Game and Practice Footage. We'll Break It Down For You.</h2>
        <ul>
          <li>We review your game footage and provide detailed box scores and game notes</li>
          <li>Monitor your progress over time, with all your stats coaching reviews stored in one place</li>
          <li>We provide in depth analysis of your game and practice sessions so you know where to improve</li>
          <li>An affordable alternative to private coaching. Get up to 4 reviews in your first month</li>
        </ul>
        <div class="home-main-feature-list-cta">
          <a href="/trial-signup" class="ui green button fluid">Try us for free!</a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-menu">
      <nav>
        <div class="footer-menu-left">
          <p><span>[LOGO HERE]</span> &trade;</p>
        </div>
        <div class="footer-menu-right">
          <ul>
            <li><span class="footer-menu-right-link feedback">Leave Feedback</span></li>
            <li><a href=""><i class="twitter icon"></i></a></li>
            <li><a href=""><i class="youtube play icon"></i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Popup feedback modal -->
    <%= render 'partials/modals/feedback_modal' %>
  </footer>
</div>
