<div>
  <h2>Start Training Today</h2>

  <!-- Insert Details of Billing Cycle here -->
    <h3>1. Your Billing Cycle</h3>

  <%= form_tag '/users', class: 'ui form error', method: 'post' do%>

    <!-- display form errors -->
    <% if @user.errors.any? %>
      <div class="ui error message">
        <div class="header">Form Errors</div>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </div>
    <% end %>

    <h3>2. Basic Information</h3>
    <div class="fields">
      <div class="field">
        <label>First name</label>
        <input type="text" name="first_name" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text" name="last_name" placeholder="Last Name">
      </div>
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter Username">
    </div>
    <div class="field">
      <label>Team Name</label>
      <input type="text" name="team_name" placeholder="Enter Your Team's Name">
    </div>

    <h3>3. Account Information</h3>
    <div class="fields">
      <div class="field">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="Email Address">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>

    <h3>4. Your Payment Information</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, perferendis perspiciatis molestias sed explicabo inventore, recusandae quo sint maiores illo culpa numquam veniam hic, modi iusto qui ullam? Cumque, dignissimos?</p>

    <div class="field">
      <label>Card Type</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="card[type]">
        <div class="default text">Type</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="visa"><i class="visa icon"></i>Visa</div>
          <div class="item" data-value="amex"><i class="amex icon"></i>American Express</div>
          <div class="item" data-value="discover"><i class="discover icon"></i>Discover</div>
        </div>
      </div>
    </div>
    <div class="fields">
      <div class="seven wide field">
        <label>Card Number</label>
        <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
      </div>
      <div class="three wide field">
        <label>CVC</label>
        <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
      </div>
      <div class="six wide field">
        <label>Expiration</label>
        <div class="two fields">

          <!-- Rendering month dropdown list -->
          <%= render 'partials/forms/form_months' %>

          <div class="field">
            <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

  <input type="hidden" name="subscription" value="pro">
  <button class="ui button green" type="submit">Join</button>

  <% end %>
</div>
