
<div class="ui tiny modal">
  <div class="header">We would love your feedback</div>
  <div class="content">
    <p>We would really appreciate your feedback to help us improve our product and better understand our users.
      We want to know if our users are enjoying their experience with us, and if not,
      what we can do to get better.
    <br></br>
    We want to make it easier for people to improve their skills and track
    their player development in their chosen sport. While we are new and learning,
    we believe we can help people reach new heights with a more scientific approach to training.
    <br></br>
    If you have any ideas for how we can improve, or if you some features you would
    love to see, please email us at paul@proscoutapp.com</p>
  </div>
  <div class="actions">
    <button class="ui cancel button green">Go Back</button>
  </div>
</div>

<script>
// Popup modal for feedback form
$(document).ready(function() {

  // check if the form exists
  var modalInterval = setInterval(function() {
    var feedbackModal = document.getElementsByClassName("ui tiny modal")[0];

    if(feedbackModal !== undefined) {

      var feedbackBtn = document.getElementsByClassName('feedback')[0];
      feedbackBtn.addEventListener('click', function(event) {

        $('.tiny.modal').modal('show');

        // Track feedback opening event
        woopra.track ('Leave Feedback Opened',{
          url: document.location.pathname,
          title: document.title
        })

      });
      clearInterval(modalInterval);
    };
  }, 1000);

});
</script>
