<div class="game-confirmation">

  <section class="game-confirmation-upload">
    <h1>Game Footage Upload Confirmation</h1>
    <p>Thank you for uploading your game footage to ProScout! Our team will be breaking down your game footage and providing you with a detailed game scouting profile.</p>
  </section>

  <section class="game-confirmation-next">
    <h2>What happens next?</h2>
    <p>Our review team will take between 3 to 5 business days to complete a review, but will endeavor to complete it as soon as possible. Make sure to check in to see your completed review.</p>
  </section>

  <a class="ui button green" type="submit" href="/dashboard/<%= current_user.username %>">Return to Dashboard</a>

</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
