<div>

  <section>
    <h2>Game Footage Upload Confirmation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta laborum, dolores totam minus voluptate suscipit, fuga consectetur doloribus est ratione illum eos voluptatum assumenda eum repellendus cupiditate deserunt repellat, sapiente.</p>
  </section>

  <section>
    <h3>What happens next?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta laborum, dolores totam minus voluptate suscipit, fuga consectetur doloribus est ratione illum eos voluptatum assumenda eum repellendus cupiditate deserunt repellat, sapiente.</p>
  </section>

  <a class="ui button green" type="submit" href="/dashboard/<%= current_user.username %>">Return to Dashboard</a>

</div>
