<div class="eight wide column">
  <section class="games-header">
    <div class="games-heading">
      <h2 class="ui header">Your Previously Reviewed Games</h3>
    </div>
  </section>


  <section class="games-middle">
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Game Date</th>
          <th>Your Name</th>
          <th></th>
        </tr>
        <tbody>
          <% if @previous_games.empty? %>
              <td>No Previous Games Reviewed</td>
          <% else %>
            <% @previous_games.each do |game| %>
              <tr>
                <td><%= game.title %></td>
                <td><%= game.date %></td>
                <td><%= game.team_name %></td>
                <td><a href="#" type="button" class="ui button green">See Game Review</a></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>
</div>
