<div class="game-upload-form">

  <section class="game-upload-form-header">
    <h2>Game Footage Upload Form</h2>
  </section>

  <section class="game-upload-form-new">
    <%= form_tag '/games', class: 'ui form error', method: 'post', enctype: 'multipart/form-data' do%>

      <!-- display form errors -->
      <% if @game.errors.any? %>
        <div class="ui error message">
          <div class="header">Form Errors</div>
            <% @game.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </div>
      <% end %>

      <div class="field">
        <label>Title</label>
        <input type="text" name="game_title" placeholder="Enter a video title">
      </div>

      <div class="field date-game">
        <label>Date of Game</label>
        <input type="date" name="game_date" placeholder="Enter the game date">
      </div>

      <div class="field">
        <label>Team Name</label>
        <input type="text" name="team_name" placeholder="Enter your team name">
      </div>
      <div class="field">
        <label>Opponent Name</label>
        <input type="text" name="opponent_name" placeholder="Enter your opponents name">
      </div>
      <div class="field">
        <label>Team Score</label>
        <input type="number" name="team_score" placeholder="Enter your team score">
      </div>
      <div class="field">
        <label>Opponent Score</label>
        <input type="number" name="opponent_score" placeholder="Enter your opponents score">
      </div>
      <div class="field">
        <label>Your Player Number</label>
        <input type="number" name="player_number" placeholder="Enter your game number">
      </div>

      <div class="field">
        <label>Youtube Video Upload</label>
        <input type="text" name="video_url" placeholder="Enter youtube video link">
      </div>


      <!-- Checking if demo and hiding review submission button -->
      <% if current_user.subscription != 'demo' %>
        <button class="ui button green" type="submit">Submit</button>
      <% elsif current_user.subscription == 'demo' %>
        <p>Here you can submit your game footage for review by a real coach. Have your game broken down and have all your game stats recorded, then stored in your own profile.</p>
        <a href="/trial-signup" class="ui button green">Sign Up For Free</a>
      <% elsif current_user.video_reviews == 0 %>
        <p>You have currently used all your free monthly reviews. We really hope you've enjoyed the service!</p>
        <br>
        <p>If you have some feedback for us about your experience and what we can do better, send an email to paul@proscoutapp.com. Look forward to hearing from you.</p>
      <% else %>
        <button class="ui button green" type="submit">Submit</button>
      <% end %>

    <% end %>
  </section>
</div>

<!--
Will allow users to upload video directly, but at the
current time the loading times and cost to store long
videos would be too high

<div class="field">
  <label>Video Upload</label>
  <input type="file" name="video_file" placeholder="Browse">
</div>

<h3>OR</h3>
-->

<div>
  <%= @errors %>
</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
