@import "fonts";
@import "variables";

// CSS for Nav Bar
a.logo {
  font-family: $logo-font;
  text-decoration: none;
  font-size: 1.3em;
  color: $primary-color;
}

a.logo:hover {
  color: $primary-color;
}

.ui.large.menu > .left.menu > div.item > a.logo {
  color: $primary-color;
}

// CSS for main dashboard page
.dashboard-main {
  width: 100%;

  .dashboard-header {
    width: 100%;
    display: block;

    .dashboard-header-left {
      display: inline-block;
      width: 40%;

      img {
        border-radius: 100%;
        width: 60%;
        margin: 10%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
    }

    .dashboard-header-right {
      display: inline-block;
      width: 55%;

       h2 {
        width: 100%;
        height: 100%;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
}
