
// Practice upload form
.practice-upload-form {

  .practice-upload-form-header {
    text-align: center;
    margin: 1em 0;
  }

  .practice-upload-form-new {
    width: 35%;
    margin: 0 auto;

    form.ui.error.form {
      .field {
        margin: 2em 0;
      }

      .field.date-game {
        margin: 2em 0;

        input {
          width: 15em;
        }
      }
    }
  }
}

// Game upload form
.game-upload-form {

  .game-upload-form-header {
    text-align: center;
    margin: 1em 0;
  }

  .game-upload-form-new {
    width: 35%;
    margin: 0 auto;

    form.ui.error.form {
      .field {
        margin: 2em 0;
      }

      .field.date-game {
        margin: 2em 0;

        input {
          width: 15em;
        }
      }
    }
  }
}

// New session page
.login-wrapper.ui.five.column.stackable.grid.container.centered {

  .login-header.row {

    div.column {
      h2 {
        margin: .5em;
        text-align: center;
      }
    }
  }

  .login-form.row {

    div.column {
      width: 35%;
      form.ui.error {

        button {
          margin: 0 auto;
          display: block;
          width: 10em;
        }
        p {
          margin-bottom: 4em;
        }
        .field {
        }
      }
    }

  }
}

// Trial sign up form
.trial-signup-wrapper.ui.five.column.stackable.grid.container.centered {

  .trial-signup-header.row {

    div.column {
      width: 35%;

      h2 {
        margin: .5em;
        text-align: center;
      }

      p {
        margin: .5em 0;
      }
    }
  }

  .trial-signup-form.row {

    div.column {
      width: 35%;

      form.ui.error {

        .fields {
          .field {
            margin: 0 auto;
          }
        }

        button {
          margin: 0 auto;
          display: block;
          width: 10em;
          margin-top: 2em;
        }

        input {
          margin: .25em 0;
        }

      }
    }

  }
}
