

.home-wrapper {
  width: 100%;
  height: 100vh;
  background: url('/assets/landing-background.png') no-repeat center center fixed;
  background-size: cover;

  // Begin Styling for header and Navbar
  header {
    width: 100%;

    .home-header-navbar {
      width: 90%;
      margin: 0 auto;

      .header-navbar-left {
        width: 20%;
        display: inline-block;
        text-align: left;

        span {
          padding-left: 1.5em;
        }
      }

      .header-navbar-right {
        width: 75%;
        display: inline-block;
        text-align: right;

        ul {

          li {
            list-style: none;
            display: inline-block;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // Begin styling for slogan and main image area
  .home-hero-landing {
    width: 100%;
    height: 90%;

    .row.home-hero-main {
      width: 100%;
      height: 70%;

      .home-hero-slogan {
        margin: 5% 0;

        h1 {
          font-size: 4.5em;
        }

        p {

        }
      }

      .home-hero-image {
        margin: 5% 0;

        img {
          height: 100%;
          padding-left: 2em;
        }
      }
    }

    .home-hero-cta {
      width: 100%;
      height: 10%;
    }
  }

  // Begin styling for feature section of home page
  .home-main-feature {
    width: 100%;
    height: 100%;

    .row.home-main-feature-breakdown {
      width: 100%;
      height: 84%;
      padding: 8% 0;

      .home-main-feature-image.eight.wide.column {
        width: 100%;
        height: 100%;

        img {
          padding: 0% 0% 0% 0%;
        }
      }

      .home-main-feature-list {
        width: 30%;

        ul {
          width: 90%;

          li {
            margin: 20px 0;
            line-height: 1.5em;
            list-style-type: square;
          }
        }
      }

      .home-main-feature-list-cta {

        a {
          text-align: center;
        }
      }
    }
  }

  // Begin Styling for header and Navbar
  footer {
    width: 100%;
    background-color: #F2F0EE;

    .footer-menu {
      width: 90%;
      margin: 0 auto;

      .footer-menu-left {
        width: 20%;
        display: inline-block;
        text-align: left;

        span {
          padding-left: 1.5em;
        }
      }

      .footer-menu-right {
        width: 75%;
        display: inline-block;
        text-align: right;

        ul {

          li {
            list-style: none;
            display: inline-block;
            font-size: 1.2em;
            margin: 0 2.5px;

            a {
              text-decoration: none;
              color: #8D8C8D;

              .twitter:hover {
                color: #58CFD9;
              }

              .youtube:hover {
                color: #B00E16;
              }
            }

            span {
              text-decoration: none;
              color: #8D8C8D;
              cursor: pointer;
            }

            .footer-menu-right-link:hover {
              color: #10A400;
            }
          }
        }
      }
    }
  }
}
