

.home-wrapper {
  width: 100%;
  height: 100vh;
  background: url('/assets/landing-background.png') no-repeat center center fixed;
  background-size: cover;

  // Begin Styling for header and Navbar
  header {
    width: 100%;

    .home-header-navbar {
      width: 90%;
      margin: 0 auto;

      .header-navbar-left {
        width: 20%;
        display: inline-block;
        text-align: left;

        span {
          padding-left: 1.5em;
        }
      }

      .header-navbar-right {
        width: 75%;
        display: inline-block;
        text-align: right;

        ul {

          li {
            list-style: none;
            display: inline-block;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // Begin styling for slogan and main image area
  .home-hero-landing {
    width: 100%;
    height: 90%;

    .row.home-hero-main {
      width: 100%;
      height: 70%;

      .home-hero-slogan {
        margin: 5% 0;

        h1 {
          font-size: 4.5em;
        }

        p {

        }
      }

      .home-hero-image {
        margin: 5% 0;

        img {
          height: 100%;
          padding-left: 2em;
        }
      }
    }

    .home-hero-cta {
      width: 100%;
      height: 10%;
    }
  }

  // Begin styling for feature section of home page
  .home-main-feature {
    width: 100%;
    height: 90%;

    .row.home-main-feature-breakdown {
      width: 100%;
      height: 100vh;

      .home-main-feature-image {
        padding: 20% 0;
      }

      .home-main-feature-list {
        padding: 20% 0;

        ul {

          li {
            list-style: none;
          }
        }
      }
    }
  }
}
