@import "fonts";
@import "variables";

.home-wrapper {
  width: 100%;
  height: 100vh;
  background: url('/assets/landing-background-20c88e35672aacd333101c344ee53bcbf846493527b42acd48418e5b11652c19.png') no-repeat center center fixed;
  background-size: cover;

  // Begin Styling for header and Navbar
  header {
    width: 100%;

    .home-header-navbar {
      width: 90%;
      margin: 0 auto;

      .header-navbar-left {
        width: 20%;
        display: inline-block;
        text-align: left;

        #logo {
          font-size: 2em;
          margin-left: 1em;
        }

        span {
          padding-left: 1.5em;
        }
      }

      .header-navbar-right {
        width: 75%;
        display: inline-block;
        text-align: right;

        ul {

          li {
            list-style: none;
            display: inline-block;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // Begin styling for slogan and main image area
  .home-hero-landing {
    width: 100%;
    height: 94%;

    .row.home-hero-main {
      width: 100%;
      height: 75%;

      .home-hero-slogan {

        h1 {
          font-size: 4em;
          padding-top: .5em;
        }

        p {

        }
      }

      .home-hero-image {
        margin: 5% 0;

        img {
          height: 100%;
          padding-left: 2em;
        }
      }
    }

    .home-hero-cta {
      width: 100%;
      height: 5%;
    }
  }

  // Begin styling for demo account sign up section
  .home-demo-section {
    width: 100%;
    height: 40%;
    padding: 6em 0;
    background-color: $primary-color;
    text-align: center;

    .row {
      width: 100%;
      height: 100%;
      color: white;

      .ui.input {
        width: 30%;

        input {
          width: 25%;
        }
      }

      .home-demo-messages {
        display: block;
      }
    }
  }

  // Begin styling for feature section of home page
  .home-main-feature {
    width: 100%;
    height: 100%;

    .row.home-main-feature-breakdown {
      width: 100%;
      height: 84%;
      padding: 8% 0;

      .home-main-feature-image.six.wide.column {

        img {
          padding: 0% 0% 0% 0%;
        }
      }

      .home-main-feature-list {
        width: 30%;

        ul {
          width: 90%;

          li {
            margin: 20px 0;
            line-height: 1.5em;
            list-style-type: square;
          }
        }
      }

      .home-main-feature-list-cta {

        a {
          text-align: center;
        }
      }

      .home-main-mobile-feature-list {
        display: none;
      }

      .home-main-mobile-feature-list-cta {
        display: none;
      }
    }
  }

  // Begin Styling for footer
  footer {
    width: 100%;
    background-color: #F2F0EE;

    .footer-menu {
      width: 90%;
      margin: 0 auto;

      .footer-menu-left {
        width: 20%;
        display: inline-block;
        text-align: left;

        span {
          padding-left: 1.5em;
        }
      }

      .footer-menu-right {
        width: 75%;
        display: inline-block;
        text-align: right;

        ul {

          li {
            list-style: none;
            display: inline-block;
            font-size: 1.2em;
            margin: 0 2.5px;

            a {
              text-decoration: none;
              color: #8D8C8D;

              .twitter:hover {
                color: #58CFD9;
              }

              .youtube:hover {
                color: #B00E16;
              }
            }

            span {
              text-decoration: none;
              color: #8D8C8D;
              cursor: pointer;
            }

            .footer-menu-right-link:hover {
              color: #10A400;
            }
          }
        }
      }
    }
  }
}
