@media (max-width: 500px ) and (min-width: 200px) {

  // Main user profile page
  .user-profile-show-main {
    width: 100%;

    .user-profile-show-info {
      width: 100%;
      margin: 0%;

      .user-profile-show-fields {

        .user-profile-field {
        }
      }
    }
  }

  // User profile Edit page
  .user-profile-edit-main {
    width: 100%;
    .user-profile-edit-header {
    }

    .user-profile-edit-form {
      width: 95%;
      margin: 0;

      form.ui.success.errors.form {
        .field {
          input {
          }
        }
      }
    }
  }

  // practice upload form mobile
  .practice-upload-form {
    .practice-upload-form-header {
    }

    .practice-upload-form-new {
      width: 95%;
      margin: 0 auto;

      form.ui.error.form {
        .field.date-game {
          margin: 2em 0;

          input {
            width: 15em;
          }
        }
      }
    }
  }

  // Game upload form mobile
  .game-upload-form {
    .game-upload-form-header {
    }

    .game-upload-form-new {
      width: 95%;
      margin: 0 auto;

      form.ui.error.form {
        .field.date-game {
          margin: 2em 0;

          input {
            width: 15em;
          }
        }
      }
    }
  }

  // Navigation Mobile styling
  .vertical-menu {
    visibility: collapse;
    height: 0;
    width: 0;
  }

  header.loggedin-nav-wrapper {

    .right-mobile.menu {
      visibility: visible;
      height: 10%;
      width: 100%;

      a.item {
        display: inline-block;
        padding: 4% 3.1% 4% 3.1%;
      }

      form {
        width: 25%;
        margin: 0;
        display: inline-block;

        button {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .ui.large.menu {
      .left.menu {
        div.item {
          a.logo {
            font-size: .9em;
          }
        }
      }

      .right.menu {
        visibility: collapse;
        width: 0;
        height: 0;
      }
    }
  }

  .home-wrapper {
    overflow-x: hidden;

    // Begin MobileStyling for header and Navbar
    header {

      .home-header-navbar {

        .header-navbar-left {

          #logo {
            font-size: 1.5em;
          }
        }
      }
    }

    // Begin mobile styling for slogan and main image area
    .home-hero-landing {
      height: 110%;
      width: 100%;

      .row.home-hero-main {
        .home-hero-slogan {
          display: block;
          padding: 0;
          h1 {
            font-size: 4.5em;
            padding: 0 0 .5em 0;
            margin: 0 auto;
          }
        }
        .home-hero-image {
          display: none;
          visibility: hidden;
          width: 0;
        }
      }
    }
  }

  // Begin Mobile styling for feature section of home page
  .home-main-feature.ui.three.column.doubling.stackable.grid.container.centered {
    height: 130%;
    width: 100%;

    .row.home-main-feature-breakdown {
      height: 100%;

      .home-main-feature-image.six.wide.column {
        width: 100%;
      }
    }
  }

  // trial signup confirmation page
  .confirm-trial-wrapper {
    .confirm-trial-content {
      width: 100%;
    }
  }

  // Dashboard mobile styling
  .dashboard-main {

    .dashboard-header {
      margin-bottom: 0;
      width: 100%;

      .dashboard-header-left {
        display: block;
        margin: 0 auto;
        width: 95%;

        img {
          margin-left: 2em;
        }
      }

      .dashboard-header-right {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }

    .dashboard-middle {
    }
  }
}

@media (max-width: 1040px ) and (min-width: 501px) {

  // Navigation Mobile styling
  .vertical-menu {
    visibility: collapse;
    height: 0;
    width: 0;
  }

  header.loggedin-nav-wrapper {
    .ui.large.menu {
      .left.menu {
        div.item {
          a.logo {
            font-size: .9em;
          }
        }
      }
    }
  }

  // Home page Mobile styline
  .home-wrapper {

    // Begin MobileStyling for header and Navbar for home page
    header {
      .home-header-navbar {
        .header-navbar-left {
          #logo {
            font-size: 1.5em;
          }
        }
      }
    }

    // Begin mobile styling for slogan and main image area
    .home-hero-landing {
      .row.home-hero-main {
        .home-hero-slogan {

          h1 {
            font-size: 4.5em;
            text-align: center;
            margin: 0;
          }

          p {
            visibility: collapse;
          }
        }

        .home-hero-image {
          display: none;
          visibility: hidden;
        }
      }
    }
  }

  // Begin Mobile styling for feature section of home page
  .home-main-feature.ui.three.column.doubling.stackable.grid.container.centered {
    height: 130%;

    .row.home-main-feature-breakdown {
      height: 100%;
    }
  }

  // Dashboard mobile styling
  .dashboard-main {

    .dashboard-header {
      margin-bottom: 0;
      width: 50em;

      .dashboard-header-left {
        display: block;
        margin: 0 auto;
      }

      .dashboard-header-right {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
  }

  // Mobile styling for stats dashboard page
  div.stats-main {

    div.stats-get-started {
      width: 100;

      .dashboard-get-started {

        div.card {
          margin-right: 20%;
        }
      }
    }
  }
}
