
// Password new reset page
.password-reset-main {
  width: 100%;

  form {
    width: 30em;
    margin: 2em auto;
    display: block;

    .fields {
      .field {
        width: 100%;
        display: block;
      }
    }

    button {
      display: block;
    }
  }
}
